/* jadwal */
    h2 {
      color: #1a56db;
      margin-bottom: 20px;
      border-left: 5px solid gold;
      padding-left: 10px;
    }
    .container {
      max-width: 800px;
      margin: 30px auto;
      padding: 20px;
    }
    h1 {
      text-align: center;
      color: #1a56db;
      margin-bottom: 5px;
    }
    .nav{
      margin-top: 20px;
    }
    .nav a{
      display: inline-block;
      border-radius: 999px;
      border: #fff;
      padding: 10px;
      margin: 5px;
      text-decoration: none;
      font-size: 14px;
      color: #1a56db;
      transition: all;
      cursor: pointer;
    }
    .nav a.hover {
      background-color: #e5edff;
      border-color: #1a56db;
    }
    .nav a.active {
      background-color: #1a56db;
      color: #fff;
      font-weight: bold;
    }


    .card {
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
    }

    thead tr {
      background-color: #1a56db;
      color: white;
    }

    th, td {
      padding: 12px 15px;
      border: 1px solid #ddd;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }