body {
    background: whitesmoke;
    
}
.kotak {
    background: rgb(119, 65, 119);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.kotak p {
    color: gray;
    font-size: 17px;
}
.kombinasi {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(54, 53, 53);
}
h2 {
    color: rgb(192, 180, 18);
    padding-left: 20px;
}
.kombinasi p {
    font-size: 0.4cm;
    padding-left: 20px;
    word-spacing: 1px;
    line-height: 0.9;
    padding-bottom: 5px;
    
}
b {
    color: #b91c1c;
}
span {
    font-size: 15px;
    font-weight: bold;
}
.bro {
    background: rgb(170, 170, 248);
    border-radius: 3px;
    padding: 2px;
    border-left: 5px solid #6d1cb9;
}
.bro p {
    padding-left: 10px;
    line-height: 0.7;
}
.bre {
    background: rgb(145, 222, 175);
    border-radius: 3px;
    padding: 2px;
    border-left: 5px solid #02f33f;
    margin-top: 1rem;
}
.bre p {
    padding-left: 10px;
    line-height: 0.7;
}
footer {
    text-align: right;
    margin: 15px;
}
footer h1 {
  font-family: 'BismillahScript', cursive;
  font-size: xx-large;
  color: #b91c1c;
  text-align: right;
  margin-bottom: 0px;
}
@font-face {
    font-family: 'BismillahScript';
    src: url(Bismillah\ Script.ttf);
}